In [1]:
import numpy as np 
import pandas as pd 
import featuretools as ft

In [2]:
movieData = pd.read_excel('MovieData.xlsx')

movieData.head()

   MovieID              Title Language                      Genres
0        1     16 Vayathinile    Tamil             Melodrama,Drama
1        2  7G Rainbow Colony    Tamil                       Drama
2        3                12B    Tamil   Drama,Romance Film,Comedy
3        4             Aalvar    Tamil    Action Film,Tamil cinema
4        5               Aaru    Tamil  Drama,Thriller,Action Film

In [3]:
activityData = pd.read_csv('userdata2.csv',sep="\t")
activityData.head()

   MovieID  UserID  Rating
0     7424       6       1
1     7059       4       1
2     7579       4       1
3    76599       6       1
4     3124       4       1

In [4]:
activityData['new_col'] = range(1, len(activityData) + 1)

In [22]:
es = ft.EntitySet(id="movies")

es1 = es.entity_from_dataframe(entity_id="movies",
                              dataframe=movieData,
                              index="MovieID"
                              )


es = ft.EntitySet(id="user")
es2 = es.entity_from_dataframe(entity_id="user",
                              dataframe=activityData,
                              index="new_col"
                              )
es1["movies"].variables
es2["user"].variables

[<Variable: MovieID (dtype = numeric, count = 4489)>,
 <Variable: UserID (dtype = numeric, count = 4489)>,
 <Variable: Rating (dtype = numeric, count = 4489)>,
 <Variable: new_col (dtype = index, count = 4489)>]

In [24]:
new_relationship = ft.Relationship(es1["movies"]["MovieID"],es2["user"]["MovieID"])

In [31]:
es = es.add_relationship(new_relationship)

2018-02-28 13:44:43,313 featuretools.entityset - WARNING    Not adding duplicate relationship: <Relationship: user.MovieID -> movies.MovieID>

In [32]:
es

Entityset: user
  Entities:
    user (shape = [4489, 4])
  Relationships:
    user.MovieID -> movies.MovieID

In [45]:
es = es.normalize_entity(base_entity_id="movies",
                         new_entity_id="user",
                         index="MovieID")

KeyError: 'movies'

In [39]:
feature_matrix, feature_defs = ft.dfs(entityset=es,target_entity="movies")

KeyError: 'Entity movies does not exist in user'